body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 50, 54);
    width: 100%;
    height: 70px;
}

.nav-logo{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.nav-logo p{
    font-weight: 550;
    font-size: 23px;
    color: aliceblue;
}

.nav-logo i{
    padding: 10px;
    color: rgb(226, 152, 14);
 
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
}


.nav-list ul li{
    padding: 0px 35px;
    list-style: none;
    color: aliceblue;
    font-size: 19px;
}

.nav-icon{
    display: flex;
    align-items: center;
    margin-right: 90px;
    color: aliceblue;
}

.nav-icon i{
    padding: 10px;
}

/* part-2 */
/* left-side */

.content-one{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(53, 52, 61);
    height: 600px;
}


.content-one .left-side{
    margin-left: 90px;
    color: aliceblue;
}


.left-text h3{
    font-size: 35px;
    position: relative;
    top: 90px;
    opacity: 0.5;
    font-weight:lighter;
   
}


.left-text h2{
    font-size: 90px;
   
}

.left-text h2::after{
    display: block;
    content: '';
    width: 200px;
    height: 5px;
    background-color: rgb(255, 166, 0);
    position: relative;
    top: 15px; 
}


.left-text .p-two{
    line-height: 20px;
    position: relative;
    bottom: 30px;
}


.content-one .picture{
    position: relative;
    right: 80px;
    background-color: #2c2c35;
    border-radius: 50%;
    
}




.content-one .picture img{
    width: 550px;
    height: 500px;
    position: relative;
    top: 20px;
    right: 30px;
    
}

 .picture span{
    background-color: #170fad;
    border-radius: 50%;
    height: 200px;
    width: 400px;
}

/* right-side */

.content-one .right-work{
    margin-right: 90px;
}


.right-work .service{
    font-size: 17px;
}


.right-work p{

    font-size: 22px;
    color: aliceblue;
    
}


.btn-one button{
    
    border: none;
    color: rgb(255, 174, 0);
    background-color: transparent;
    font-size: 18px;

}

.btn-one i{
    color: rgb(255, 166, 0);
}

.right-icons{
    display: flex;
}

.right-icons i {
    color: rgb(255, 166, 0);
    padding: 0px 4px;
    margin: 25px 25px 0 0;
    color: rgb(255, 166, 0);
    background-color: #3f3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 30px;
    border-radius: 50%;
}


/* center-part */

.center-container{
    position: absolute;
    top: 630px;
    left: 170px;
    background-color: #3f3e50;
    width: 1500px;
    height: 150px;
}

.center-container .boxes{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.boxes .meta{
    background-color: #2c2c35;
    
    width: 150px;
    height: 70px;
}

.meta img{
    padding: 5px 25px;
}


.boxes .google{
    background-color: #2c2c35;
    
    width: 150px;
    height: 70px;
}

.google img{
    padding: 10px 25px;
}

.boxes .linkdin{
    background-color: #2c2c35;
    width:150px;
    height:70px;
}

.linkdin .img{
    padding: 10px 0px;
}
.boxes .slack{
    background-color: #2c2c35;
    width:150px;
    height:70px;
}

.lslack .img{
    padding: 10px 0px;
}


