body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 50, 54);
    width: 100%;
    height: 70px;
}

.nav-logo{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.nav-logo p{
    font-weight: 550;
    font-size: 23px;
    color: aliceblue;
}

.nav-logo i{
    padding: 10px;
    color: rgb(226, 152, 14);
 
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
}


.nav-list ul li{
    padding: 0px 35px;
    list-style: none;
    color: aliceblue;
    font-size: 19px;
}

.nav-icon{
    display: flex;
    align-items: center;
    margin-right: 90px;
    color: aliceblue;
}

.nav-icon i{
    padding: 10px;
}