body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 48, 56);
    width: 100%;
    height: 70px;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.nav-logo p {
    font-weight: 550;
    font-size: 23px;
    color: aliceblue;
}

.nav-logo i {
    padding: 10px;
    color: rgb(245, 160, 2);

}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
}


.nav-list ul li {
    padding: 0px 35px;
    list-style: none;
    color: aliceblue;
    font-size: 19px;
}

.nav-icon {
    display: flex;
    align-items: center;
    margin-right: 90px;
    color: aliceblue;
}

.nav-icon i {
    padding: 10px;
}

/* part-2 */
/* left-side */

.content-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 52, 61);
    height: 630px;
}


.content-one .left-side {
    margin-left: 90px;
    color: aliceblue;
}


.left-text h3 {
    font-size: 35px;
    position: relative;
    top: 90px;
    opacity: 0.5;
    font-weight: lighter;

}


.left-text h2 {
    font-size: 90px;

}

.left-text h2::after {
    display: block;
    content: '';
    width: 200px;
    height: 5px;
    background-color: rgb(245, 160, 2);
    position: relative;
    top: 15px;
}


.left-text p {
    line-height: 20px;
    position: relative;
    bottom: 30px;
    opacity: 0.7;
}


.content-one .picture {
    position: relative;
    right: 80px;
    background-color: #2c2c35;
    border-radius: 50%;

}




.content-one .picture img {
    width: 550px;
    height: 500px;
    position: relative;
    top: 20px;
    right: 30px;

}


/* right-side */

.content-one .right-work {
    margin-right: 90px;
}


.right-work .service {
    font-size: 19px;
    opacity: 0.7;
}


.right-work p {

    font-size: 22px;
    color: aliceblue;
    opacity: 0.7;

}


.btn-one button {

    border: none;
    color: rgb(245, 160, 2);
    background-color: transparent;
    font-size: 18px;

}

.btn-one i {
    color: rgb(245, 160, 2);
}

.right-icons {
    display: flex;
}

.right-icons i {
    color: rgb(245, 160, 2);
    padding: 0px 4px;
    margin: 25px 25px 0 0;
    color: rgb(245, 160, 2);
    background-color: #3f3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 30px;
    border-radius: 50%;
}


/* center-part */

.center-container {
    position: absolute;
    top: 630px;
    left: 90px;
    background-color: #3f3e50;
    width: 1730px;
    height: 150px;
    box-shadow: 0px 0px 15px rgba(24, 24, 24, 0.5);
}

.center-container .boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px;

}

.boxes .meta {
    background-color: #2c2c35;
    box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.4);
    width: 160px;
    height: 60px;
}

.meta img {
    padding: 3px 29px;
    width: 100px;
}


.boxes .google {
    background-color: #2c2c35;
    box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.4);
    width: 160px;
    height: 60px;
}

.google img {
    padding: 18px 29px;
}

.boxes .linkdin {
    background-color: #2c2c35;
    box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.4);
    width: 160px;
    height: 60px;
}

.linkdin img {
    position: relative;
    bottom: 10px;
    left: 17px;

}

.boxes .slack {
    margin: 10px 40px;
    background-color: #2c2c35;
    box-shadow: 0px 0px 10px rgba(36, 36, 36, 0.4);
    width: 160px;
    height: 60px;
}

.slack img {
    padding: 8px 18px;
}


/* third-part */

.third-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c35;
    width: 100%;
    height: 700px;
}


.third-part .left-content {
    margin-top: 50px;
    margin-left: 90px;
}

.top-part {
    color: aliceblue;

}

.top-part h2 {
    font-size: 45px;
    font-weight: lighter;
    line-height: 60px;
}

.top-part p {
    opacity: 0.7;
}




/* bottom-text */

.left-content .bottom-part {
    display: grid;
    grid-template-columns: auto auto;
}

.text-one h2 {
    color: rgb(245, 160, 2);
}

.text-one p {
    color: aliceblue;
    opacity: 0.7;
}

.text-two h2 {
    color: rgb(245, 160, 2);
}

.text-two p {
    color: aliceblue;
    opacity: 0.7;
}

.text-three h2 {
    color: rgb(245, 160, 2);
}

.text-three p {
    color: aliceblue;
    opacity: 0.7;
}

.text-four h2 {
    color: rgb(245, 160, 2);
}

.text-four p {
    color: aliceblue;
    opacity: 0.7;
}






/* right-content ka box 1 */

.third-part .right-content {
    margin-top: 80px;
    margin-right: 90px;
    width: 633px;
}

.right-content .box-one {
    display: flex;
    border-bottom: 1px solid rgba(192, 192, 192, 0.5);
    padding-bottom: 23px;
}


.box-one .ui-text {
    position: relative;
    top: 20px;
    left: 30px;
}

.ui-text h3 {
    font-size: 30px;
    color: aliceblue;
    font-weight: lighter;
    margin: 0px;
}

.box-one p {
    color: aliceblue;
    opacity: 0.7;
}


.box-one i {
    color: rgb(245, 160, 2);
    position: relative;
    top: 55px;
    left: 215px;
    font-size: 30px;

}




/* right-content ka box 2 */

.right-content .box-two {
    display: flex;
    margin: 30px 0px 23px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.5);
    padding-bottom: 23px;
}

.box-two .front-text {
    position: relative;
    top: 20px;
    left: 30px;
}

.front-text h3 {
    font-size: 30px;
    color: aliceblue;
    font-weight: lighter;
    margin: 0px;
}

.front-text p {
    color: aliceblue;
    opacity: 0.7;
}

.box-two i {
    color: rgb(245, 160, 2);
    position: relative;
    top: 55px;
    left: 140px;
    font-size: 30px;
}

/* right-content ka box 3 */

.right-content .box-three {
    display: flex;
    border-bottom: 1px solid rgba(192, 192, 192, 0.5);
    padding-bottom: 23px;
}

.box-three .back-text {
    position: relative;
    top: 20px;
    left: 30px;
}

.box-three h3 {
    font-size: 30px;
    color: aliceblue;
    font-weight: lighter;
    margin: 0px;
}

.box-three p {
    color: aliceblue;
    opacity: 0.7;
}

.box-three i {
    color: rgb(245, 160, 2);
    position: relative;
    top: 55px;
    left: 110px;
    font-size: 30px;
}